
.rglobalContainer {
    flex: 5.5;
height: 90vh;
margin-top: 15px;
overflow-y: scroll;

 margin-bottom: 90px;


}



.rglobal{
    /* background-color: rgb(114, 145, 240); */
   
height:100%;

    padding:2px;
 
 
 
}
.rglobalinputcenter{
     display:relative;
}

.rglobalinputdiv{

    align-self: center;
    justify-self: center;
    display: block;
    bottom: 0px;
    position:fixed;
    padding:10px;
    width:40vw;
    
  
    /* width:100%; */
   /* background-color: rgb(114, 145, 240); */
  
   
  

}


.rinputsend{
     display: flex;
     align-items: center;
     justify-content: center;
}

.rinputglobal{
    width: 100%;
    padding:10px;
  

}

.rglobalsend{
    padding:10px;
}

.rRandomSkip{
    padding:10px;
}


@media screen and (max-width: 600px ) {
    .rglobalinputdiv{
        width: 95%;
    }
    .rinputsend
    {
    width: 95%;
    
    z-index: 2;
    align-items: center;
    justify-content:space-between;
    
    }
    
    .rinputglobal{
        width: 100%;border-radius: 6px;
       
        border: 1px solid rgb(157, 146, 146);
    
      
    }
    .rglobalsend{
        background-color:rgb(102, 118, 238);
        border: none;
        margin-left:3px;
        margin-right: 4px;
    }
    .rRandomSkip{
        background-color:rgb(213, 24, 24);
        border: none;
    }

    }
    