.messenger{

    height:  100vh;

    display: flex;
    z-index: 0;
    color: rgb(29, 161, 242);
    background-color:rgb(16, 18, 19) ;
    margin: 0;;

}

.chatMenu{
    flex: 3;
}

.charMenuInput{
    width:90%;
    padding: 10px 4px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius:5px;
}

.chatBox{
    flex:5.5;

}

.chatBoxWrappper{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
position: relative;

}
.chatBoxTop{
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
}

.chatBoxBottom{
    margin-top: 5px;
   display: flex;
   padding: 10px;
   align-items: center;
   justify-content: space-between;
}

.chatMessageInput{
width: 80%;
height: 20px;
padding:10px ;
border: none;
border-radius: 20px;
max-width: 80%;
}
.chatMessageInput:focus{
 outline: none;
 border: 2px solid gray;
 border-radius: 20px;
 overflow-y:auto;
 scroll-behavior:smooth
}
.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    background-color: teal;
color: white;
margin-left: 10px;
    border-radius: 5px;
}

.chatOnline{
    flex:3;
   
}

.chatMenuWrappper,.chatBoxWrappper,.chatOnlineWrappper{
padding: 10px;
height: 100%;


}

.noConversationText{
    position: absolute;
top:10%;
font-size: 50px;
color: lightblue;
text-align: center;
cursor: default;


}
@media screen and (max-width: 600px ) {
    
    .noConversationText{
font-size: 25px;
/* position: relative; */
z-index: -1;
align-self: center;
justify-self: center;
    }

    
}