.message{
    display: flex;
    flex-direction: column;
margin-top: 20px;
z-index: -1;

}

.messageTop{
    display: flex;
}

.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
margin-right: 10px;

}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(114, 145, 240);
color: white;
max-width: 300px;
word-break: break-all;
white-space: pre-wrap;

/* height: fit-content; */
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}
.message.own{
    align-items: flex-end;
    
}

.message.own .messageText{
    background-color: rgb(154, 80, 228);
    
}

@media screen and (max-width: 600px ) {
.messageText{
    font-size: 12px;
}

}